.main {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .align{
    text-align: center;
  }

  .image{
    margin: 2rem auto;
    width: 30%;
    max-width: 40rem;
    padding-left: 0px;
  }

  .username{
    padding-right: 0px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 10;
    font-size: 18px;
  }

  .age{
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 10;
    font-size: 18px;
  }

  .pronouns{
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 10;
    font-size: 18px;
  }

  .weight{
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 10;
    font-size: 18px;
  }

  .goal{
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 10;
    font-size: 18px;
  }

  .newAvatar{
    margin: 2rem auto;
    width: 30%;
    max-width: 40rem;
  }

  .general{
    text-align: center;
  }

  .emailThing{
    padding-bottom: 15px;
    letter-spacing: 1.5px;
    font-weight: 10;
    font-size: 18px;
  }